-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Director:
    = @movie.director
    
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

= link_to 'Edit', edit_movie_path(@movie)
%br
%br
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
%br
= link_to 'Back to movie list', movies_path
%br
-id = @movie.id

= link_to 'Find Movies With Same Director', similar_movies_path(:id => id)

-#the above line of code is wrong. It needs to pass params of id of movie
